# Ignore Node.js dependencies for both front-end and back-end

node_modules

# Ignore build output for back-end (e.g., TypeScript compiled files)
dist

# Ignore environment files
.env

# System files
.DS_Store
Thumbs.db

# Editors and IDEs
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
